{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block content %}

<h1> Nos produits </h1>
<div class='row'>
{% for product in products %}
    <div class="col-md-4">
        <div class="product-item text-center">
            <img src="/uploads/{{product.picture}}" alt="{{product.name}}" class="img-fluid">   
            <h4>{{product.name}} </h4>
            <span class='product-subtitle'>{{product.subtitle}}</span>
            <span class='product-price'>{{product.price/100|number_format(2,'.',',')}} €</span>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}
